* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;

    margin: 100px 25px;

    background-color: #011a2a;
    color: #d7eff7;
}

body::before {
    z-index: -1;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.svg");
    filter: brightness(25%) blur(2px);
}

/* header */
header h1 {
    font-size: 64px;
    text-shadow: #000f1b 0px 0px 24px;
}

header p {
    font-size: 18px;
    text-shadow: #000f1b 0px 0px 24px;
}

/* button */
.primary-button {
    width: 200px;
    height: 75px;
    border-radius: 10px;
    border: none;

    font-size: 24px;

    transition: 250ms;
    box-shadow: #000f1b 0px 0px 40px;
    background-color: #012a4a;
    color: #d7eff7;
}

.primary-button:hover {
    background-color: #013a63;
}

.secondary-button {
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border: none;
    
    font-size: 18px;

    transition: 250ms;
    box-shadow: #000f1b 0px 0px 40px;
    background-color: #2A6F97;
    color: #d7eff7;
}

.secondary-button:hover {
    background-color: #012a4a;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background: #000f1b;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #012a4a;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: #013a63;
}
