<!DOCTYPE html>
<html lang="en">
  <%- include("header.ejs");%>
  <body
    style="font-family: 'Anek Malayalam', sans-serif !important; color: gray"
  >
    <div class="container-sm" style="margin-top: 50px">
      <h4 style="margin-bottom: 20px">
        <i class="fa-solid fa-table-columns"></i>
        Visuzalização da Tabela
      </h4>
      <table class="table">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody class="table-info">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

      <a type="button" class="btn btn-primary" href="/">Voltar</a>
    </div>
  </body>
</html>
