@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.box {
    display: flex;
    justify-content: center;
}

.container-result {
    background-color: #5B94B2;
    border-radius: 10px;
    box-shadow: #000f1b 0px 0px 40px;
    width: 450px;
    height: 650px;
    padding: 30px;
}

.box-title {
    display: flex;
    justify-content: center;
}

.title-r {
    font-weight: bold; 
    color: white; 
    text-shadow: black 0.1em 0.1em 0.3em;
    font-size: 50px;
}

.container-table {
    background-color: rgb(217, 216, 218);
    box-shadow: #000f1b 0px 0px 10px;
    height: 390px;
    overflow: auto;
}

.table-t {
    width: 100%;
    margin-left: 10px;
}

.container-buttom {
    background-color: #193341;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
}