@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    min-height: 100%;
    background-color: #092b51;
}

a {
    text-decoration: none;
}


#title_h2 {
    color: white;
    padding:45px 0 0;
    font-size: 28px;
}

/*******************************
HEADER
********************************/

.header {
    display:flex;
    flex-wrap: wrap;
    background-image:
    radial-gradient(
      circle at center center,
      #280F31 50%,
      #4D2B59 500%
    );
    min-height: 100px;
    justify-content: center;
    align-items: center;
}

.nav {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 800px;
}

#titleheader{
    color:white;
    font-size: 28px;
    min-width: 100px;
}

#titleheader > span {
    color:#0C92B8;
}

.nav > ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    align-items:center;
}

.nav > ul > li{
    display: inline;
    padding:10px 15px;
}

.nav > ul > li > a{
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color:white;
    padding:8px 15px;
}



/*******************************
CONTENT
********************************/
.middle{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width:100%;
    max-width: 1000px;
    margin: 50px auto;
    margin-top: 0px;
}


.TableProg{
    font-size: 12px;
}

.color-atapas {
    color: white;
}

.text-color {
    color: black;
    font-weight: bold;
    font-size: 18px;
}
/*******************************
FOOTER
********************************/
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:20px;
}

footer > p{
    margin:0;
    padding:0;
}

footer > p, a {
    color:black;
}

footer > div > a:hover {
    color:black;
}

footer > div > img {
    width:50px;
}
