.intern-container {
    background-color: #5B94B2;
    border-radius: 10px;
    box-shadow: #000f1b 0px 0px 40px;
    height: 88vh;
}

.te {
    font-weight: bold;
    color: white;
    text-shadow: black 0.1em 0.1em 0.3em;
    font-size: 50px;
}

.title-box {
    display: flex;
    justify-content: center;
}

.text-box {
    font-weight: bold;
    color: white;
    text-shadow: black 0.1em 0.1em 0.3em;
}

.wrapper {
    overflow: auto;
    height: 70%
}

.div-intern {
    display: flex; 
    justify-content: space-between;  
    background-color: rgb(217, 216, 218);      
    margin-bottom: 20px;
    box-shadow: #000f1b 0px 0px 10px;
    height: 40px;
    align-items: center;
}

.div-intern-2 {
    background-color: #193341;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-list {
    background-color: #193341;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-date {
    font-size: 20px;
    margin-left: 10px;
}

.cont-buttom {
    background-color: #193341;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 20px;
}