{% extends "regex/base.html" %}
{% block content %}
<form action="" method="post" autocomplete="off">
    <div class="row">
        
        <div class="col-md-6">
            <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block btn-lg">
                Lista de testes
            </a>
        </div>

        <div class="col-md-6">
            <a href="{% url 'config' %}" class="btn btn-success btn-block btn-lg">
                Inserir programas
            </a>
        </div>

    </div>

</form>
{% endblock content %}