{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style_insert_code.css' %}">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <section class="middle">
        <!-- TITULO -->
        <h2 id="title_h2">ETAPA 2: Caso de Teste (CT)</h2>
        <hr id="line" />

        <!-- PARTE CENTRAL -->
        <section class="container">
            <!-- <form action="/tabletest" method="post"> -->
            <form action="/tabletest">
                <!-- VALORES CasoTeste PARA O e P -->
                <section class="row">
                    <div class="form-group col-sm-6 ">
                        <label for="message">Preencha o caso de teste do Programa O</label>
                        <!-- <% let vars_prog_o = program.VARS_PROG_O.split(';') %>
                        <% for (var i = 0; i < vars_prog_o.length; i++) { %> -->
                            <input type="text" class="form-control my-2" id="exampleFormControlInput1" name="value_vars_prog_o" placeholder="<%= vars_prog_o[i] %>"
                            value="<%= program.VALUE_VARS_PROG_O.length > 0 ? program.VALUE_VARS_PROG_O[i] : null %>">
                        <% } %>
                        <div id="emailHelp" class="form-text">Se array, separe por vírgula. Ex: 1, 2, 3, 4</div> 
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="message">Preencha o caso de teste do Programa P</label>
                        <!-- <% let vars_prog_p = program.VARS_PROG_P.split(';') %>
                        <% for (var i = 0; i < vars_prog_p.length; i++) { %> -->
                            <input type="text" class="form-control my-2" id="exampleFormControlInput1" name="value_vars_prog_p" placeholder="<%= vars_prog_p[i] %>"
                            value="<%= program.VALUE_VARS_PROG_P.length > 0 ? program.VALUE_VARS_PROG_P[i] : null %>">
                        <!-- <% } %> -->
                        <div id="emailHelp" class="form-text">Se array, separe por vírgula. Ex: 1, 2, 3, 4</div>
                    </div>
                </section>

                <!-- BOTÕES VOLTAR~PROXIMO -->
                <section class="d-flex justify-content-between p-3">
                    <a href="/conf" type="submit" class="btn-lg btn-warning">Voltar</a>
                    <button type="submit" class="btn-lg btn-success">Próximo</a>
                </section>

            </form>
        </section>
    </section>
</body>
</html>