{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Teste de Mesa - Histórico</title>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/historico.css' %}" />
    </head>
    <body>
        {% include 'navbar.html' %}

        <header>
            <h1>Dados do teste</h1>
            <p>ID dos dados: {{ pk }}</p>
        </header>

        <div class="db-table-wrapper">
            <table class="db-table" type="text">
                <tr>
                    <th>ID</th>
                    <th>Linha</th>
                    <th>Numero da equação</th>
                    <th>Variavel O</th>
                    <th>Dado Hexa O</th>
                    <th>Variavel P</th>
                    <th>Dado Hexa P</th>
                </tr>
                <tr>
                    <td>{{ dados_teste_de_mesa.id }}</td>
                    <td>{{ dados_teste_de_mesa.linha }}</td>
                    <td>{{ dados_teste_de_mesa.num_equacao }}</td>
                    <td>{{ dados_teste_de_mesa.variavel_o }}</td>
                    <td>{{ dados_teste_de_mesa.dado_hexa_o }}</td>
                    <td>{{ dados_teste_de_mesa.variavel_p }}</td>
                    <td>{{ dados_teste_de_mesa.dado_hexa_p }}</td>
                </tr>
            </table>
        </div>

        <button class="primary-button" type="button" onclick="history.back()">
            Voltar
        </button>
    </body>
</html>
