{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Teste de Mesa - Histórico</title>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/historico.css' %}" />
    </head>
    <body>
        {% include 'navbar.html' %}

        <header>
            <h1>Dicionario</h1>
        </header>

        <div class="db-table-wrapper">
            <table class="db-table" type="text">
                <tr>
                    <th>ID</th>
                    <th>Linha</th>
                    <th>Valores Parâmetros</th>
                </tr>
                {% for dicionario in dicionarios %}
                <tr>
                    <td>{{ dicionario.id }}</td>
                    <td>{{ dicionario.linha }}</td>
                    <td>
                        <a href="{% url 'historico_valores_parametros' dicionario.id %}"
                            ><button class="secondary-button">Ver</button></a
                        >
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <button class="primary-button" type="button" onclick="history.back()">
            Voltar
        </button>
    </body>
</html>
