{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Teste de Mesa - Início</title>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    </head>
    <body>
        {% include 'navbar.html' %}

        <header>
            <h1>Teste de Mesa</h1>
            <p>Execute testes de mesa do seu código em Python</p>
        </header>
        
        <form id="code-editor-wrapper" method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <button class="primary-button" type="submit">Executar Teste</button>
            <div id="text-areas-wrapper">
                <textarea
                name="code_editor_o"
                    placeholder="Codigo do programa O"
                    class="code-editor"
                    spellcheck="false"
                    required
                ></textarea>

                <textarea
                    name="code_editor_p"
                    placeholder="Codigo do programa P"
                    class="code-editor"
                    spellcheck="false"
                    required
                ></textarea>

                <div class="code-editor table-wrapper">
                    {% for dicionario in linhas %}
                    <h3>Linha {{dicionario.linha}}</h3>
                    <table class="test-table" type="text">
                        <tr>
                            <th>Parametro</th>
                            <th>Valor</th>
                        </tr>
                        {% for valor in valores %}
                        {% if valor.container == dicionario %}
                        <tr>
                            <td>{{valor.parametro}}</td>
                            <td>{{valor.valor}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                    {% endfor %}
                </div>
            </div>
        </form>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
