{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Teste de Mesa</title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>

    <body class="body">
        <div class="container">
            <div class="col-md-10 offset-md-1 mt-5">
                <div class="box">
                    <div class="container-text">
                        <h1 class="text">
                            Teste de Mesa Python</h1>
                    </div>
                    <hr class="my-4">
                    {% block content %}
                    {% endblock content %}
                    <div class="container-description">
                        <h3 class="text-description">
                            Este é um projeto de banco de dados desenvolvido para realizar testes de mesa com a lingagem python</h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>