{% extends "base.html" %}
{% block content %}
<form action="" method="post" autocomplete="off">
    <div class="row" style="
        justify-content: center;
    ">        
        <div style="
            background-color: #193341;
            width: 200px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin-top: 10px;
            margin-right: 50px;
            box-shadow: #000f1b 0px 0px 10px;
        "">
            <a href="{% url 'testelist' %}" style="color: white;">
                Lista de testes
            </a>
        </div>

        <div style="
            background-color: #193341;
            width: 200px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin-top: 10px;
            box-shadow: #000f1b 0px 0px 10px;
        "">
            <a href="{% url 'config' %}" style="color: white;">
                Iniciar Teste
            </a>
        </div>
    </div>

</form>
{% endblock content %}
