<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Programs</title>
</head>
<body>
    <form action="{% url 'insertcode' %}" method="POST">{% csrf_token %}
        <label>Nome:</label>
        <input type="text" placeholder="Programa P..." name="prog_p">
        <br>
        <br>

        <label>Email:</label>
        <input type="text" placeholder="Programa O..." name="prog_o">
        <br>
        <br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>